<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Einstein Chip</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <div class="container">
        <header>
            <h1>
                <span class="white-text">EinsteinChip</span>
                <i class="fa-solid fa-book"></i>
            </h1>
        </header>
        
        <form action="/" method="POST">
            <div class="form-section">
                <label for="people">Choose a person:</label>
                <select name="people" id="people">
                    {% for person in data %}
                        <option class="option" data-description="{{ person[1] }}">{{ person[0] }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-section">
                <label for="name">Name:</label>
                <input type="text" id="name" placeholder="Name" name="name" required>
            </div>

            <div class="form-section">
                <label for="desc">Description:</label>
                <input type="text" placeholder="Description" name="desc" required>
            </div>

            <div class="form-section">
                <button type="submit" class="button">Upload</button>
                <button type="button" class="button secondary">Download Memories</button>
            </div>
        </form>

        <hr>

        <div id="person-description" class="description" style="visibility: hidden;"></div>
    </div>

    <script>
        const peopleSelect = document.getElementById('people');
        const descriptionDiv = document.getElementById('person-description');
      
        peopleSelect.addEventListener('change', function () {
            const selectedOption = peopleSelect.options[peopleSelect.selectedIndex];
            const description = selectedOption.getAttribute('data-description');

            if (description) {
                descriptionDiv.textContent = description;
                descriptionDiv.style.visibility = 'visible';
                descriptionDiv.classList.add('fade-in');
            }
        });
    </script>

</body>

</html>